<!DOCTYPE html>
<html lang="es" xmlns:th="http://wwww.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Gestion de Ventas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/plantilla.css}">
</head>

<body>
    <!-- Barras de Navegacion -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
            <div class="container">            
                <a class="navbar-brand" href="#"><strong>  MiLogo </strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>                        
                      </div>
                </div>
            </div>
        </nav>        
    </header>

    <!-- Contenido -->
    <div class="container"></div>


    <!-- Footer -->
    <footer th:fragment="footer" class="bg-blue text-white text-center fixed-bottom">
        <div class="container">
            <p>2020 - Desarrollado por Julio Antonio Zamora Rosabal</p>
        </div>
        <script th:src="@{/js/bootstrap/jquery-3.5.1.slim.min.js}"></script>
        <script th:src="@{/js/bootstrap/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    </footer>

</body>

</html>